body {
    height: 100%;
    margin: 0px auto;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(224, 231, 241, 0.726);
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: #CC7770;
    font-family: 'Great Vibes', cursive;
}

a:hover,
.btn:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: rogliano, sans-serif;
    font-weight: 700;
    font-style: normal;
}

button {
    font-family: 'Great Vibes', cursive;
}

p {
    font-family: sofia-pro, sans-serif;
}


nav {
    max-width: 100%;
    padding: 10px 0px 5px 20px;
    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.logo__container {
    place-self: center;
    width: 100px;
}

ul {
    display: flex;
    justify-content: space-around;
    min-width: 500px;
    list-style: none;
    font-size: 1.7rem;
}

.active {
    text-decoration: underline;
}

.jumbotron__container {
    background-image: url("../media/jumbotron.jpg");
    height: 800px;
    display: grid;
    place-items: center;
}

.jumbotron {
    background-image: url("../media/jumbotron2.jpg");
    height: 700px;
    width: 1000px;
    box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.534);
}

.container {
    margin: 0 auto;
    height: 600px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    
    font-size: 3.5rem;
    font-weight: 800;
    text-align: center;
    
}

.mainpage__h1 {
    color: rgb(248, 247, 253);
    text-shadow: 3px 3px 3px rgba(12, 13, 19, 0.794);
}

.btn__link {
    align-self: center;
}

.btn {
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.26);
    color: #000000;
    font-size: 2rem;
    border-radius: 2px;
    padding: 10px;
    
}

.btn:hover,
.product__container:hover .btn {
    background-color: #CC7770;
    color: white;
    box-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.63);
}


.featured {
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.heading__container {
    margin: 0 auto;
    max-width: 900px;
}

h2 {
    font-weight: 400;
    color: #50735F;
}

.card {
    width: 250px;
    display: grid;
    background-color: #dadadb6e;
    border-radius: 0px 0px 5px 5px;
}

.featured__products {
    width: 250px;
    height: 300px;
    display: grid;
    place-items: center;
}

.product1 {
    background: url(../media/product4.jpg);
}
.product2 {
    background: url(../media/product2.jpg);
}
.product3 {
    background: url(../media/product3.jpg);
}

.product1:hover {
    background: url(../media/product4hover.jpg);
}
.product2:hover {
    background: url(../media/product2hover.jpg);
}
.product3:hover {
    background: url(../media/product3hover.jpg);
}


.featured__products h3 {
    display: none; 
}

.featured__products:hover h3 {
    display: block;
    color: #fdfdfd;
}

.card p {
    justify-self: end;
    margin-right: 20px;
}


footer {
    margin-top: 40px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.726);
    color: #CC7770;
    display: flex;
    justify-content: space-evenly;
}

.footer__info {
    display: flex;
}

.pin__icon {
    width: 15px;
    margin-right: 10px;
}

.contact__icon {
    width: 25px;
    margin-right: 10px;
}

.jumbo__product {
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 60px;
}

.products__h1 {
    color: #8c6239;
}

.product__container {
    max-width: 250px;
}

.productpage__img {
    max-width: 900px;
    border-radius: 50px;
    filter: drop-shadow(10px 10px 15px #8c6239);
}

.product__img {
    width: 250px;
    max-height: 400px;
    border-radius: 5px 5px 0px 0px;
    
}

.price__container {
    display: flex;
    justify-content: space-between;
}

.productBtn__container {
    display: grid;
    text-align: center
}

.product__container:hover .product__img {
    filter: drop-shadow(10px 10px 15px #8c6239);
}